__pycache__/
**/.pytest_cache/*
*.py[cod]
*$py.class
*.so
pip-log.txt
*.log
app.log.*
.env
venv/
build/
**/.cache/
.cache/
*results.xml
.coverage
coverage.xml
.idea/
test_logs/
tests/test_dir/model/*
!tests/test_dir/model/.gitkeep
.DS_Store
.venv/*
